@model List<MiniHelpDesk.Models.Chamado>

<h2>Lista de Chamados</h2>

<a asp-controller="Chamados" asp-action="Criar" class="btn btn-success mb-3">Novo Chamado</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de Abertura</th>
            <th>Data de Fechamento</th>
            <th>Ações</th> @* Nova coluna para o botão *@
        </tr>
    </thead>
    <tbody>
        @foreach (var chamado in Model)
        {
            <tr>
                <td>@chamado.Id</td>
                <td>@chamado.Titulo</td>
                <td>@chamado.Descricao</td>
                <td>@chamado.Status</td>
                <td>@chamado.DataAbertura.ToString("dd/MM/yyyy")</td>
                <td>
                    @(chamado.DataFechamento.HasValue
                    ? chamado.DataFechamento.Value.ToString("dd/MM/yyyy HH:mm")
                    : "Em aberto")
                </td>
                <td>
                @* Este link vai gerar uma URL tipo: /Chamados/Detalhes/1 *@
                <a asp-controller="Chamados" asp-action="Detalhes" asp-route-id="@chamado.Id"
                   class="btn btn-primary btn-sm">
                    Ver Detalhes
                </a>
            </td>
        </tr>
    }
</tbody>
</table>